<a href="https://colab.research.google.com/github/financieras/polars/blob/main/Colab_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ¬°Polars! üêª‚Äç‚ùÑÔ∏è

> **Descripci√≥n:** Google Colab Notebook con el contenido introductorio para conocer c√≥mo funciona Polars. <br>
> **Autor:** [David Pedroza Segoviano (Bubu)](https://github.com/BubuDavid) <br>
> **Contacto:** [@bubusaurio_rex](https://www.instagram.com/bubusaurio_rex/)


## Contenido

### **Introducci√≥n üêª‚Äç‚ùÑÔ∏è**
- Instalaci√≥n
- Tipos de datos
- Primeros Pasos: DataFrames
- Leer Archivos
- Contextos
- Expresiones

### **El verdadero poder üß†**
- Funciones
- Agregaciones

### **Ejercicios üí™**
- A chambiar...

### Extras
- Lazy & eager API

# Introducci√≥n

## Instalaci√≥n

Polars, se instala f√°cilmente como cualquier otro paquete de python, ya sea con ```pip``` o ```conda```, aqu√≠ se muestra el c√≥mo se hace, sin embargo, **Google Colab** ya tiene instalado polars as√≠ que pers√© no es necesario. Vamos a hacerlo solo para practicar.

>En Notebooks como Google Colab o como Jupyter, para ejecutar command line commands (Com√°ndos de l√≠nea de comandos ü§Ø), necesitamos poner un __!__ primero y despu√©s el o los comandos que queramos en esa l√≠nea.

In [1]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.11/dist-packages (1.21.0)

## Tipos de datos
Para nosotr@s es muy sencillo reconocer entre un n√∫mero, una palabra, letras, fechas, estructuras, objetos, etc... Pero para las computadoras no, para ello se necesita hacer un listado y mapeo del tipo de dato que es un dato y relacionarlo con su correspondiente en representaci√≥n m√°quina. Veamos la siguiente tabla sacada de la documentaci√≥n oficial de [polars](https://docs.pola.rs/user-guide/concepts/data-types/overview/).

Veamos un par de ejemplos con c√≥digo de polars, sirve que aprendemos a importarlo üòà.

In [2]:
import polars as pl

ü§ö **¬øPor qu√© pl? ¬øQu√© es ```as```? ¬øPuedo hacer uso de otro t√©rmino?**

In [ ]:
# Contestar preguntas

In [6]:
# Ver los tipos de datos.
a = 28
b = 10e9
c = 'Hola'

print(a, type(a))
print(b, type(b))
print(c, type(c))

28 <class 'int'>
10000000000.0 <class 'float'>
Hola <class 'str'>

In [4]:
# Meh python tiene estadarizado sus tipos de datos a los m√°s grandes y generales, eso no nos ayuda a entender qu√© es el 64 o 16, probemos con numpy
import numpy as np

a = np.int64(100)
b = np.float64(10e9)
c = np.str_("Hola")

print(a, type(a))
print(b, type(b))
print(c, type(c))

100 <class 'numpy.int64'>
10000000000.0 <class 'numpy.float64'>
Hola <class 'numpy.str_'>

In [10]:
# Casos de uso para los chiquis?
d = np.int8(127) # ([100], dtype=np.int8)
print(d, type(d))

127 <class 'numpy.int8'>

## Primeros pasos: DataFrames

As√≠ como Python tiene sus listas o diccionarios, numpy tiene sus ndarrays, y pandas sus Series y DataFrames, la estructura inicial y funamental de polars son... LOS DATAFRAMES (Tambi√©n tiene Series, que es como una columna). No son iguales que en Pandas, pero son muy muy parecidos y esto es porque polars se basa en el manejo de datos estructurados (al igual que pandas).

Creemos nuestro primer dataframe en polars.

In [11]:
# Forma 1: Diccionarios
data = {
    'integer_column': [1, 2, 3, 4, 5],
    'float_column': [1.1, 2.2, 3.3, 4.4, 5.5],
    'date_column': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'],
    'string_column': ['apple', 'banana', 'cherry', 'date', 'elderberry']
}

df = pl.DataFrame(data)

print(df)

shape: (5, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer_column ‚îÜ float_column ‚îÜ date_column ‚îÜ string_column ‚îÇ
‚îÇ ---            ‚îÜ ---          ‚îÜ ---         ‚îÜ ---           ‚îÇ
‚îÇ i64            ‚îÜ f64          ‚îÜ str         ‚îÜ str           ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1              ‚îÜ 1.1          ‚îÜ 2022-01-01  ‚îÜ apple         ‚îÇ
‚îÇ 2              ‚îÜ 2.2          ‚îÜ 2022-02-01  ‚îÜ banana        ‚îÇ
‚îÇ 3              ‚îÜ 3.3          ‚îÜ 2022-03-01  ‚îÜ cherry        ‚îÇ
‚îÇ 4              ‚îÜ 4.4          ‚îÜ 2022-04-01  ‚îÜ date          ‚îÇ
‚îÇ 5              ‚îÜ 5.5          ‚îÜ 2022-05-01  ‚îÜ elderberry    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [12]:
# Forma 2: Polar Series
integer_column = pl.Series("integer_column", [1, 2, 3, 4, 5], dtype = pl.Int16)
float_column = pl.Series("float_column", [1.1, 2.2, 3.3, 4.4, 5.5])
date_column = pl.Series("date_column", ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'])
string_column = pl.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])

df = pl.DataFrame([integer_column, float_column, date_column, string_column])

print(df)

shape: (5, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer_column ‚îÜ float_column ‚îÜ date_column ‚îÜ column_3   ‚îÇ
‚îÇ ---            ‚îÜ ---          ‚îÜ ---         ‚îÜ ---        ‚îÇ
‚îÇ i16            ‚îÜ f64          ‚îÜ str         ‚îÜ str        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1              ‚îÜ 1.1          ‚îÜ 2022-01-01  ‚îÜ apple      ‚îÇ
‚îÇ 2              ‚îÜ 2.2          ‚îÜ 2022-02-01  ‚îÜ banana     ‚îÇ
‚îÇ 3              ‚îÜ 3.3          ‚îÜ 2022-03-01  ‚îÜ cherry     ‚îÇ
‚îÇ 4              ‚îÜ 4.4          ‚îÜ 2022-04-01  ‚îÜ date       ‚îÇ
‚îÇ 5              ‚îÜ 5.5          ‚îÜ 2022-05-01  ‚îÜ elderberry ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

ü§ö **¬øCu√°l es la ventaja?**

**‚öíÔ∏è Ejercicio: Creen su propio DataFrame con 2 columnas como quieran, las que quieran que sean de tipos distintos**

In [13]:
import polars as pl

df = pl.DataFrame({
    'columna_1': [1, 2, 3, 4, 5],
    'columna_2': ['a', 'b', 'c', 'd', 'e'],
    'columna_3': [True, False, True, False, True],
    'columna_4': [1.1, 2.2, 3.3, 4.4, 5.5],
    'columna_5': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01']
})

print(df)

shape: (5, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ columna_1 ‚îÜ columna_2 ‚îÜ columna_3 ‚îÜ columna_4 ‚îÜ columna_5  ‚îÇ
‚îÇ ---       ‚îÜ ---       ‚îÜ ---       ‚îÜ ---       ‚îÜ ---        ‚îÇ
‚îÇ i64       ‚îÜ str       ‚îÜ bool      ‚îÜ f64       ‚îÜ str        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1         ‚îÜ a         ‚îÜ true      ‚îÜ 1.1       ‚îÜ 2022-01-01 ‚îÇ
‚îÇ 2         ‚îÜ b         ‚îÜ false     ‚îÜ 2.2       ‚îÜ 2022-02-01 ‚îÇ
‚îÇ 3         ‚îÜ c         ‚îÜ true      ‚îÜ 3.3       ‚îÜ 2022-03-01 ‚îÇ
‚îÇ 4         ‚îÜ d         ‚îÜ false     ‚îÜ 4.4       ‚îÜ 2022-04-01 ‚îÇ
‚îÇ 5         ‚îÜ e         ‚îÜ true      ‚îÜ 5.5       ‚îÜ 2022-05-01 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

## Leer archivos

Muy probablemente pienses que crear dataframes desde 0 es muy poco √∫til y pr√°ctico, y est√°s en todo lo correcto, aprendamos a c√≥mo leer archivos desde polars. Usemos este link: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv

In [ ]:
df = pl.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

print(df)

## Contextos

Polars ha desarrollado su propio lenguaje espec√≠fico de dominio (DSL) para transformar datos. El lenguaje es muy f√°cil de usar y permite consultas complejas que siguen siendo legibles por humanos. Los dos componentes centrales del lenguaje son "Contextos" y "Expresiones".

Un contexto, como lo implica el nombre, se refiere al contexto en el que se debe evaluar una expresi√≥n. Hay tres contextos principales:

- Selecci√≥n: `df.select(...)`, `df.with_columns(...)`
- Filtrado: `df.filter()`
- Agrupaciones y agregaciones: `df.groupby(..).agg(...)`

Revisemos algunos ejemplos. Imaginemos:

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ nrs  ‚îÜ names ‚îÜ random   ‚îÜ groups ‚îÇ
‚îÇ ---  ‚îÜ ---   ‚îÜ ---      ‚îÜ ---    ‚îÇ
‚îÇ i64  ‚îÜ str   ‚îÜ f64      ‚îÜ str    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1    ‚îÜ foo   ‚îÜ 0.154163 ‚îÜ A      ‚îÇ
‚îÇ 2    ‚îÜ ham   ‚îÜ 0.74005  ‚îÜ A      ‚îÇ
‚îÇ 3    ‚îÜ spam  ‚îÜ 0.263315 ‚îÜ B      ‚îÇ
‚îÇ null ‚îÜ egg   ‚îÜ 0.533739 ‚îÜ C      ‚îÇ
‚îÇ 5    ‚îÜ null  ‚îÜ 0.014575 ‚îÜ B      ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

#### Contexto `select`

En este contexto, la selecci√≥n aplica expresiones sobre columnas. Las expresiones en este contexto deben producir series que tengan la misma longitud o una longitud de 1.

Una selecci√≥n puede producir nuevas columnas que son agregaciones, combinaciones de expresiones o literales.

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ nrs ‚îÜ names ‚îÜ first name ‚îÜ 10xnrs ‚îÇ
‚îÇ --- ‚îÜ ---   ‚îÜ ---        ‚îÜ ---    ‚îÇ
‚îÇ i64 ‚îÜ str   ‚îÜ str        ‚îÜ f64    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 11  ‚îÜ null  ‚îÜ foo        ‚îÜ 27.5   ‚îÇ
‚îÇ 11  ‚îÜ egg   ‚îÜ foo        ‚îÜ 27.5   ‚îÇ
‚îÇ 11  ‚îÜ foo   ‚îÜ foo        ‚îÜ 27.5   ‚îÇ
‚îÇ 11  ‚îÜ ham   ‚îÜ foo        ‚îÜ 27.5   ‚îÇ
‚îÇ 11  ‚îÜ spam  ‚îÜ foo        ‚îÜ 27.5   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

#### Contexto `filter`

En este contexto, se filtra el marco de datos existente en funci√≥n de la expresi√≥n arbitraria que se eval√∫a como el tipo de datos booleano.

```
Original:
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ nrs  ‚îÜ names ‚îÜ random   ‚îÜ groups ‚îÜ nrs_sum ‚îÜ count ‚îÇ
‚îÇ ---  ‚îÜ ---   ‚îÜ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ ---   ‚îÇ
‚îÇ i64  ‚îÜ str   ‚îÜ f64      ‚îÜ str    ‚îÜ i64     ‚îÜ u32   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1    ‚îÜ foo   ‚îÜ 0.154163 ‚îÜ A      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 2    ‚îÜ ham   ‚îÜ 0.74005  ‚îÜ A      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 3    ‚îÜ spam  ‚îÜ 0.263315 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ null ‚îÜ egg   ‚îÜ 0.533739 ‚îÜ C      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 5    ‚îÜ null  ‚îÜ 0.014575 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
Filter:
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ nrs ‚îÜ names ‚îÜ random   ‚îÜ groups ‚îÜ nrs_sum ‚îÜ count ‚îÇ
‚îÇ --- ‚îÜ ---   ‚îÜ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ ---   ‚îÇ
‚îÇ i64 ‚îÜ str   ‚îÜ f64      ‚îÜ str    ‚îÜ i64     ‚îÜ u32   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 3   ‚îÜ spam  ‚îÜ 0.263315 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 5   ‚îÜ null  ‚îÜ 0.014575 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```


#### Contexto `groupby` / `aggregation`

En este contexto, las expresiones funcionan en grupos, por lo que pueden producir resultados de cualquier longitud (un grupo puede tener muchos miembros).

```
Original:
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ nrs  ‚îÜ names ‚îÜ random   ‚îÜ groups ‚îÜ nrs_sum ‚îÜ count ‚îÇ
‚îÇ ---  ‚îÜ ---   ‚îÜ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ ---   ‚îÇ
‚îÇ i64  ‚îÜ str   ‚îÜ f64      ‚îÜ str    ‚îÜ i64     ‚îÜ u32   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1    ‚îÜ foo   ‚îÜ 0.154163 ‚îÜ A      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 2    ‚îÜ ham   ‚îÜ 0.74005  ‚îÜ A      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 3    ‚îÜ spam  ‚îÜ 0.263315 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ null ‚îÜ egg   ‚îÜ 0.533739 ‚îÜ C      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îÇ 5    ‚îÜ null  ‚îÜ 0.014575 ‚îÜ B      ‚îÜ 11      ‚îÜ 5     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
GroupBy / Aggregation:
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ groups ‚îÜ nrs ‚îÜ count ‚îÜ random_sum ‚îÜ reversed names ‚îÇ
‚îÇ ---    ‚îÜ --- ‚îÜ ---   ‚îÜ ---        ‚îÜ ---            ‚îÇ
‚îÇ str    ‚îÜ i64 ‚îÜ u32   ‚îÜ f64        ‚îÜ list[str]      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ C      ‚îÜ 0   ‚îÜ 1     ‚îÜ 0.533739   ‚îÜ ["egg"]        ‚îÇ
‚îÇ B      ‚îÜ 8   ‚îÜ 2     ‚îÜ 0.263315   ‚îÜ [null, "spam"] ‚îÇ
‚îÇ A      ‚îÜ 3   ‚îÜ 2     ‚îÜ 0.894213   ‚îÜ ["ham", "foo"] ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

## Expresiones

Polars cuenta con expresiones. Las expresiones son el n√∫cleo de muchas operaciones de ciencia de datos y son el concepto fundamental de Polars para su rendimiento muy r√°pido.

Algunas de estas operaciones importantes en la ciencia de datos son:

- tomar una muestra de filas de una columna
- multiplicar valores en una columna
- extraer una columna de a√±os a partir de fechas
- convertir una columna de cadenas a min√∫sculas
- ¬°y m√°s!

Sin embargo, las expresiones tambi√©n se utilizan dentro de otras operaciones:

- tomar la media de un grupo en una operaci√≥n `groupby`
- calcular el tama√±o de los grupos en una operaci√≥n `groupby`
- tomando la suma horizontalmente a trav√©s de las columnas

Polars realiza estas transformaciones de datos centrales muy r√°pidamente con:

- optimizaci√≥n autom√°tica de consultas en cada expresi√≥n
- paralelizaci√≥n autom√°tica de expresiones en muchas columnas

**Analicemos.** ¬øQu√© hace la siguiente sentencia?

In [ ]:
out = pl.col("foo").sort().head(2)
print(out)

Una expresi√≥n regresa otra expresi√≥n, entonces podemos encadenar procesos de esa manera.
1. Selecciona la columna "foo"
2. Luego ordena la columna
3. Luego toma los primeros dos valores de la salida ordenada

 >El poder de las expresiones es que cada expresi√≥n produce una nueva expresi√≥n, y que pueden ser encadenadas. Puedes ejecutar una expresi√≥n pas√°ndola a uno de los contextos de ejecuci√≥n de Polars.

**ü§ö ¬øDe d√≥nde? ¬øDe qu√©?**

In [ ]:
# Mini ejercicio. ¬øQu√© hace esto?
pl.col("random").sum().slice(10, 22)

## Muy bien, empecemos con lo verdaderamente interesante

In [ ]:
df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["David", "Missa", "Rodo", "Sara", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
print(df)

In [ ]:
# Context: select
out = df.select(
    pl.sum("nrs"),
    # pl.col("names").sort(),
    # pl.col("names").first().alias("first name"),
    # (pl.mean("nrs") * 10).alias("10xnrs"),
)
print(out)

In [ ]:
# Contexto: filter
out = df.filter(pl.col("nrs") > 2)
print(out)

In [ ]:
# Contexto group_by, agg
out = df.group_by("groups").agg(
    pl.sum("nrs"),
    # pl.col("random").count().alias("count"),
    # pl.col("random").filter(pl.col("names").is_not_null()).sum().name.suffix("_sum"),
    # pl.col("names").reverse().alias("reversed names"),
)
print(out)

### Group_by
Profundicemos m√°s en group by y en las agregaciones

In [ ]:
groups = df.group_by("groups")
print(out)

In [ ]:
# Polars da la opci√≥n de visualizar estos grupos
for group, group_df in groups:
    print("Este es el grupo: ", group)
    print(group_df)

In [ ]:
for group, group_df in groups:
    print("Este es el grupo: ", group)
    out = group_df.select(
        pl.col("nrs").sum().alias("sum_nrs")
    )
    print(out)

# El verdadero poder üß†

## Funciones (Funciones)
Las expresiones de Polars tienen un gran n√∫mero de funciones integradas. Estas te permiten crear consultas complejas sin la necesidad de funciones definidas por el usuario. Hay demasiadas para revisarlas todas aqu√≠, pero cubriremos algunos de los casos de uso m√°s populares. Si deseas ver todas las funciones, ve a la [Referencia de API](https://docs.pola.rs/user-guide/expressions/functions/) de Python.

En los ejemplos a continuaci√≥n, utilizaremos el siguiente ```DataFrame```:

In [ ]:
df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["David", "Missa", "Rodo", "Sara", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
print(df)

#### Nombrado de columnas
De forma predeterminada, si realizas una expresi√≥n, mantendr√° el mismo nombre que la columna original. En el ejemplo a continuaci√≥n, realizamos una expresi√≥n en la columna 'nrs'. Observa que el DataFrame de salida a√∫n tiene el mismo nombre.

In [ ]:
df_samename = df.select(pl.col("nrs") + 5)
print(df_samename)

Esto puede llegar a ser complicado porque estamos usando el mismo nombre que el DataFrame original aunque ya no representan lo mismo, adem√°s podr√≠amos generar problemas, por ejemplo si hacemos lo mismo con dos columnas.

In [ ]:
df_samename2 = df.select(
    pl.col("nrs") + 5,
    pl.col("nrs") - 5
)
print(df_samename2)

¬°Podemos cambiar el nombre con la funci√≥n / expresi√≥n, alias!

In [ ]:
# Aber si muy muy, hazlo...

#### with_columns
Similar al comando `select`, el comando `with_columns` tambi√©n entra en el tipo de contexto de selecci√≥n. La principal diferencia entre `with_columns` y `select` es que `with_columns` retiene las columnas originales y agrega nuevas, mientras que `select` elimina las columnas originales.

In [ ]:
out_select = df.select(
    pl.sum("nrs").alias("nrs_sum"),
    pl.col("random").count().alias("count"),
)

In [ ]:
out_with = df.with_columns(
    pl.sum("nrs").alias("nrs_sum"),
    pl.col("random").count().alias("count"),
)

In [ ]:
print(out_select)
print(out_with)

#### Contar valores √∫nicos
Hay dos formas de contar valores √∫nicos en Polars: una metodolog√≠a exacta y una aproximaci√≥n. La aproximaci√≥n utiliza el algoritmo HyperLogLog++ para aproximar la cardinalidad y es especialmente √∫til para conjuntos de datos muy grandes donde una aproximaci√≥n es suficiente.

In [ ]:
df_alias = df.select(
    pl.col("names").n_unique().alias("unique"),
    pl.approx_n_unique("names").alias("unique_approx"),
)
print(df_alias)

#### Condicionales
Polars soporta condiciones tipo if-else en expresiones con la sintaxis when, then, otherwise. El predicado se coloca en la cl√°usula when y cuando esto se eval√∫a como verdadero, se aplica la expresi√≥n then; de lo contrario, se aplica la expresi√≥n otherwise (fila por fila).

In [ ]:
df_conditional = df.select(
    pl.col("nrs"),
    pl.when(pl.col("nrs") > 2) # Hey como un if!
    .then(pl.lit(True))
    .otherwise(pl.lit(False)) # else
    .alias("conditional"),
)
print(df_conditional)

**ü§ö ¬øQu√© significa ```pl.lit```?**

### Ejercicio ü¶Ü: Iris!
Ya s√© que todo el mundo usa el dataset de iris para ejercicios pero pues es que est√° chido.

In [ ]:
df_iris = pl.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
# Voy a cambiar el nombre a las columnas
df_iris = df_iris.select(
    pl.col("sepal_length").alias("largo_sepalo"),
    pl.col("sepal_width").alias("ancho_sepalo"),
    pl.col("petal_length").alias("largo_petalo"),
    pl.col("petal_width").alias("ancho_petalo"),
    pl.col("species").alias("especie")
)

print(df_iris.head())

**¬øQu√© esquema tiene?**

In [ ]:
# ¬øQu√© esquema tiene?

**Solo seleccionemos el largo del s√©palo y el largo del p√©talo, y s√≥lo los √∫ltimos 5 registros.**

In [ ]:
# Solo seleccionemos el largo del s√©palo y el largo del p√©talo, y s√≥lo los √∫ltimos 5 registros. (Puedes hacerlo con regex?)

**¬øC√≥mo podemos filtrar todas las flores que son virginica?**

In [ ]:
# ¬øC√≥mo podemos filtrar todas las flores que son virginica?

**Seleccionemos todas las columnas que no son la especie**

In [ ]:
# Seleccionemos todas las columnas que no son la el ancho del p√©talo

**Seleccionemos todas las que son float**

In [ ]:
# Seleccionemos todas las que son float

**A√±ade una nueva columna llamada 'area_sepalo' la cual es el producto del largo del s√©palo y el ancho del s√©palo (as√≠ es, asumimos plantas cuadradas)**

In [ ]:
# A√±ade una nueva columna llamada 'area_sepalo' la cual es el producto del largo del s√©palo y el ancho del s√©palo (as√≠ es, asumimos plantas cuadradas)

**Agrupar por especie: Agrupa los datos por la columna 'species' y calcula la media de 'sepal_length' y 'sepal_width' para cada grupo.**

In [ ]:
# Agrupar por especie: Agrupa los datos por la columna 'especie' y calcula la media de 'largo_s√©palo' y 'ancho_s√©palo' para cada grupo.

**¬øCrees que puedas ver los dataframes individuales de cada especie?**

In [ ]:
# ¬øCrees que puedas ver los dataframes individuales de cada especie?

**Contamos ocurrencias de cada especie**

In [ ]:
# Contamos ocurrencias de cada especie

#### Ay buey, transformaciones m√°s avanzadas
Vamos a hacer transformaciones de DS medio m√°s perrillas.

**Normaliza el largo del s√©palo y el ancho del s√©palo usando [escalamiento min-max](https://nicolasurrego.medium.com/transformando-datos-en-oro-c%C3%B3mo-la-estandarizaci%C3%B3n-y-normalizaci%C3%B3n-mejoran-tus-resultados-fbe0840d2b94#:~:text=El%20Escalamiento%20Min%2DMax%2C%20tambi%C3%A9n,datos%20y%20el%20aprendizaje%20autom%C3%A1tico.).**

In [ ]:
# Normaliza el largo del s√©palo y el ancho del s√©palo usando escalamiento min-max. (Haz que sean dos nuevas columnas llamadas igual pero con el sufijo "_norm"!)
out = df_iris.with_columns([
    ((pl.col('largo_sepalo') - pl.col('largo_sepalo').min()) /
     (pl.col('largo_sepalo').max() - pl.col('largo_sepalo').min())).name.suffix("_norm"),
    ((pl.col('ancho_sepalo') - pl.col('ancho_sepalo').min()) /
     (pl.col('ancho_sepalo').max() - pl.col('ancho_sepalo').min())).name.suffix('_norm')
])

print(out)

**Despivoteemos la tabla para que muestre como columnas las especies y como valores los anchos del sepalo**

In [ ]:
# Despivoteemos la tabla para que muestre como columnas las especies y como valores los anchos del sepalo.
df_melted = df_iris.melt(id_vars=['especie'], variable_name="ancho_sepalo", value_vars="ancho_sepalo")
print(df_melted) # Meh ejemplo chafa...

In [ ]:
# Ejemplo no tan chafa
import numpy as np

# Generando un dataframe con id de una persona, vendedores por ejemplo
np.random.seed(0)
data = {
    'id_persona': range(1, 11),  # Assuming 10 persons for the example
}

# A√±adir datos de ventas por cada mes
months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
for month in months:
    data[month] = np.random.randint(100, 1000, size=10)

# Crear el dataframe
df = pl.DataFrame(data)

print(df)

In [ ]:
import matplotlib.pyplot as plt
plt.bar(df['id_persona'], df['Enero'])
plt.show()

**Pivotea esta tabla hasta que se vea una columna fecha, el valor del salario en esa fecha para cada id de persona.**

In [ ]:
# pl.Config.set_tbl_rows(100)

In [ ]:
# Pivotea esta tabla hasta que se vea una columna fecha, el valor del salario en esa fecha para cada id de persona.
out = df.melt(
    id_vars=['id_persona'],
    value_vars=['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    variable_name='mes',
    value_name='salario'
)
print(out.filter(
    pl.col("id_persona") == 1
))

In [ ]:
pl.Config.set_tbl_rows(5)

# Ejercicios üí™
## A chambiar

Estaremos poniendo en pr√°ctica lo aprendido con algunos ejercicios de [101 Pandas Exercises for Data Analysis](https://www.machinelearningplus.com/python/101-pandas-exercises-python/).

In [ ]:
# ¬øC√≥mo combinar m√∫ltiples dfs en un DataFrame?
df1 = pl.DataFrame({"letras": list("abcedfghijklmnopqrstuvwxyz")})
df2 = pl.DataFrame({"nums": np.arange(len(df1))})

print(df1, df2)

In [ ]:
out = pl.concat([df1, df2], how = "horizontal")

print(out)

In [ ]:
# ¬øC√≥mo calcular el n√∫mero de caracteres de cada palabra en un DataFrame?
df = pl.DataFrame({"palabras": ["esta", "es", "una", "palabra"]})
print(df)

In [ ]:
out = df.with_columns(
    pl.col("palabras").str.len_chars().alias("Cuenta")
)

print(out)

In [ ]:
# ¬øC√≥mo convertir una cadena a√±o-mes a fechas que comiencen en el 11 de cada mes?
df = pl.DataFrame(['Jan 2010', 'Feb 2011', 'Mar 2012'], schema = ["date"])
print(df)

In [ ]:
out = df.with_columns(
    ('11 ' + pl.col("date")).str.to_date("%d %b %Y").alias("datetime")
)

print(out)

#### Ejercicio m√°s üêï
**Instrucci√≥n**: Lee el archivo en formato ```csv``` llamado ```ayuda.csv```.
Imprime un polars DataFrame cuya primera columna sea el id de la ciudad de salida, en la segunda columna est√© el id de ciudad de entrada m√°s cercana, en la tercera columna est√© la distancia y en la cuarta columna est√© la direcci√≥n correcta a la que tengo que ir.

# Extras
## Eager vs. Lazy

In [ ]:
!wget https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv

In [ ]:
%time
df = pl.read_csv("iris.csv")
df_small = df.filter(pl.col("sepal_length") > 5)
df_agg = df_small.group_by("species").agg(pl.col("sepal_width").mean())
print(df_agg)

In [ ]:
%time
q = (
    pl.scan_csv("iris.csv")
    .filter(pl.col("sepal_length") > 5)
    .group_by("species")
    .agg(pl.col("sepal_width").mean())
)

df = q.collect()

print(df)