<a href="https://colab.research.google.com/github/financieras/polars/blob/main/introduccion_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install polars --upgrade

Requirement already satisfied: polars in /usr/local/lib/python3.11/dist-packages (1.21.0)
Collecting polars
  Downloading polars-1.30.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (14 kB)
Downloading polars-1.30.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.3/36.3 MB 15.6 MB/s eta 0:00:00
Installing collected packages: polars
  Attempting uninstall: polars
    Found existing installation: polars 1.21.0
    Uninstalling polars-1.21.0:
      Successfully uninstalled polars-1.21.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-polars-cu12 25.2.2 requires polars<1.22,>=1.20, but you have polars 1.30.0 which is incompatible.
Successfully installed polars-1.30.0

In [ ]:
import polars as pl

df = pl.DataFrame({
    'a': ['Hola', 'Mundo'],
    'b': [1, 2]
})

df

shape: (2, 2)
┌───────┬─────┐
│ a     ┆ b   │
│ ---   ┆ --- │
│ str   ┆ i64 │
╞═══════╪═════╡
│ Hola  ┆ 1   │
│ Mundo ┆ 2   │
└───────┴─────┘

In [ ]:
import polars as pl

df2 = pl.DataFrame({
    "frutas": ["manzana", "banano", "pera", "piña"],
    "canastas": [15, 32, 10, 5]
})

df2

shape: (4, 2)
┌─────────┬──────────┐
│ frutas  ┆ canastas │
│ ---     ┆ ---      │
│ str     ┆ i64      │
╞═════════╪══════════╡
│ manzana ┆ 15       │
│ banano  ┆ 32       │
│ pera    ┆ 10       │
│ piña    ┆ 5        │
└─────────┴──────────┘

In [ ]:
import polars as pl

df3 = pl.DataFrame({
    'Modelo': ['iPhone X','iPhone XS','iPhone 12','iPhone 13','Samsung S11','Samsung S12','Mi A1','Mi A2'],
    'Ventas': [80,170,130,205,400,30,14,8],
    'Compañía': ['Apple','Apple','Apple','Apple','Samsung','Samsung','Xiao Mi','Xiao Mi']
})

df3

shape: (8, 3)
┌─────────────┬────────┬──────────┐
│ Modelo      ┆ Ventas ┆ Compañía │
│ ---         ┆ ---    ┆ ---      │
│ str         ┆ i64    ┆ str      │
╞═════════════╪════════╪══════════╡
│ iPhone X    ┆ 80     ┆ Apple    │
│ iPhone XS   ┆ 170    ┆ Apple    │
│ iPhone 12   ┆ 130    ┆ Apple    │
│ iPhone 13   ┆ 205    ┆ Apple    │
│ Samsung S11 ┆ 400    ┆ Samsung  │
│ Samsung S12 ┆ 30     ┆ Samsung  │
│ Mi A1       ┆ 14     ┆ Xiao Mi  │
│ Mi A2       ┆ 8      ┆ Xiao Mi  │
└─────────────┴────────┴──────────┘

In [6]:
df2.select("frutas")

shape: (4, 1)
┌─────────┐
│ frutas  │
│ ---     │
│ str     │
╞═════════╡
│ manzana │
│ banano  │
│ pera    │
│ piña    │
└─────────┘

In [7]:
df2.filter(pl.col("canastas") > 10)

shape: (2, 2)
┌─────────┬──────────┐
│ frutas  ┆ canastas │
│ ---     ┆ ---      │
│ str     ┆ i64      │
╞═════════╪══════════╡
│ manzana ┆ 15       │
│ banano  ┆ 32       │
└─────────┴──────────┘

In [8]:
df2.select(pl.col("canastas").sum())

shape: (1, 1)
┌──────────┐
│ canastas │
│ ---      │
│ i64      │
╞══════════╡
│ 62       │
└──────────┘

In [10]:
df2

shape: (4, 2)
┌─────────┬──────────┐
│ frutas  ┆ canastas │
│ ---     ┆ ---      │
│ str     ┆ i64      │
╞═════════╪══════════╡
│ manzana ┆ 15       │
│ banano  ┆ 32       │
│ pera    ┆ 10       │
│ piña    ┆ 5        │
└─────────┴──────────┘